.footer {
  display: flex;
  height: 28vw;
  width: 100%;
}

.contact {
  margin-top: 5vw;
  margin-left: 4vw;
  flex-direction: row;
  color: #01a7c2;
  font-size: 3.6vw;
}

.upButton {
  height: 24px;
  width: 24px;
}

.up {
  flex-direction: row;
  height: 24px;
  width: 24px;
  margin-left: 31vw;
  margin-top: 5.7vw;
  background-color: #01a7c2;
}

span {
  font-family: 'Montserrat Subrayada', sans-serif;
}
@media screen and (min-width: 740px) {
  .footer {
    display: flex;
    height: 12vw;
  }

  .contact {
    font-size: 2vw;
    color: #01a7c2;
    margin-top: 1vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    flex-direction: row;
  }

  @keyframes slideIn {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 6px);
    }
  }

  .up :hover {
    animation-name: slideIn;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

  .upButton {
    height: 48px;
    width: 48px;
  }

  .up {
    flex-direction: row;
    height: 48px;
    width: 48px;
    margin-left: 51vw;
    margin-top: 4vw;
  }
}
