.link {
  background: #00568f;
  text-decoration: none;
  color: white;
}

.link:visited {
  background: #00568f;
  text-decoration: none;
  color: white;
}

.navbarItems {
  margin: 1em;
  background: #00568f;
  font-weight: bold;
}

.navbarLinks {
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  bottom: 0;
  height: 100vh;
  padding: 2rem;
  z-index: 1;
}

.showNav .navbarLinks {
  margin-right: 0px;
  width: 48%;
  height: 65vw;
  right: 0;
  top: 0vw;
  background: #00568f;
  box-shadow: inset 0.1em 0.1em 1em #00568f;
  opacity: 0.95;
  border-radius: 10px;
  color: white;
  font-size: 4.5vw;
  transition: 0.7s;
}

.burgerButton {
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  background: black;
  margin-top: 10vw;
  margin-right: 22vw;
  margin-left: 82vw;
  border: none;
  background: transparent;
  z-index: 1000;
  padding: 0.6em;
}

.navbarBurger,
.navbarBurger::before,
.navbarBurger::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 3px;
  position: fixed;
  background: black;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.navbarBurger::before,
.navbarBurger::after {
  content: '';
  position: absolute;
  left: 0;
}

.navbarBurger::before {
  transform: translateY(-12px);
}

.navbarBurger::after {
  transform: translateY(12px);
}
.showNav .navbarBurger {
  background: transparent;
}

.showNav .navbarBurger::before {
  transform: rotate(45deg);
}

.showNav .navbarBurger::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 740px) {
  .showNav .navbarLinks {
    margin-right: 0px;
    width: 30%;
    height: 35vw;
    padding: 3.9rem;
    background: #00568f;
    opacity: 0.95;
    border-radius: 5px;
    color: white;
    font-size: 2.1vw;
    transition: 0.6s;
  }

  .burgerButton {
    margin-top: 6vw;
    margin-left: 90vw;
    margin-right: 8vw;
    padding: 2em;
  }

  .burgerButton:hover {
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }

  .navbarBurger,
  .navbarBurger::before,
  .navbarBurger::after {
    height: 5px;
  }
  .navbarBurger::before {
    left: 0;
    margin-top: -0.5px;
    width: 40px;
  }

  .navbarBurger::after {
    height: 5px;
    width: 40px;
  }
}
